{{ partial "head.html" . }}
<body>
    {{ partial "actions_desktop.html" . }}
    <div class="content index width mx-auto px3 my3">
        <section id="wrapper" class="home">
                <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                    <header>
                    <h1 class="posttitle" itemprop="name headline">
                            {{ .Title }}
                        </h1>
                      <div class="meta">
                        <div class="postdate">
                                <time datetime='{{ .Date.Format "2006-01-02" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                            </div>
                        <div class="article-tag">
                            <i class="fa fa-eye"></i>
                            <span id="busuanzi_container_page_pv">
                                <span id="busuanzi_value_page_pv">0</span>
                              </span>
                            </span>
                        </div>
                        {{ if .Params.tags }}
                        <div class="article-tag">
                            <i class="fa fa-tag"></i>
                            {{ range .Params.tags }}
                            <a href="/tags/{{ . | urlize }}">
                               {{ . }}</a> 
                             {{ end }}
                        </div>
                        {{ end }}
                        <!-- | {{ if lt 1 .WordCount }}{{ .WordCount }}字{{ else }}{{ .WordCount }}字{{ end }} -->
                        <!-- | {{ .ReadingTime }} min -->
                        <div class="article-tag-box">
                               
                        </div>

                        
                      </div>
                    </header>
                    <!-- <%- partial('_partial/post/gallery') %> -->

                    <div class="content" itemprop="articleBody">
                            
                            {{ .Content }}
                            <h2> 微信公众号 </h2>
                            <!-- <img src="https://incomparable9527.coding.net/p/imageBed/d/imageBed/git/raw/master/e73110bce06db5cc2c08cf51551bd6093d5309560ac46ae02695959c80abec4e.png" /> -->
                            <img src="https://incomparable9527.coding.net/p/imageBed/d/imageBed/git/raw/master/c2a91cfb597826a4b02b755746c300e00cc7728a9f5bac20bec538e8c76a443f.png" />
                            <h2> 本文链接：</h2>
                            <a href='{{.Permalink}}' target="_blank">{{.Permalink}}</a>

                            <!-- <h2> 限时优惠：</h2>
                            <div class="archive tencent-ad">
                              <a href="https://curl.qcloud.com/uZMi8l4z"> <img src='https://incomparable9527.coding.net/p/imageBed/d/imageBed/git/raw/master/4e5895da9441d39afbf66e57b51b032c993916abb42feca1f7ca5e9cdb96fb64.jpg' /></a>
                            </div>  -->
                    </div>
                  </article>
                  {{ partial "comments.html" . }}

                  {{ partial "latest-posts.html" . }}
  
                  {{ if .Params.hidden }}
                  
                  {{ end }}
                  
        </section>

    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>

