<footer id="footer">
    <div class="footer-left">
      Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>
   </div>
    <div class="footer-right">
      <nav>
        <!-- <ul>
          <% for (var i in theme.nav) { %> 
            <li><a <% if(i == 'Github'){%> target="_blank" <% } %> href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
          <% } %>
        </ul> -->
      </nav>
    </div>
   
  
   <p>Copyright &copy; {{ now.Format "2006"}}  {{ .Site.Params.Author }} <a href="http://www.miitbeian.gov.cn">浙ICP备18045521号 </a></p>
   
  </footer>
  