
<h1>{{ .Site.Params.readMore | default "# 最新文章" }}</h1>
<ul id="more-post-list" class="archive readmore">

    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .URL }}
    {{ range first 10 $othr }}
        <li>
            <a href="{{ .URL }}">{{ .LinkTitle }}<aside class="dates">{{ .Date.Format "2006-01-02" }}</aside></a>
        </li>
    {{ end }}
</ul>


<!-- <h2> # 限时优惠：</h2>
<div class="archive tencent-ad">
<a href="https://curl.qcloud.com/uZMi8l4z"> <img src='https://incomparable9527.coding.net/p/imageBed/d/imageBed/git/raw/master/4e5895da9441d39afbf66e57b51b032c993916abb42feca1f7ca5e9cdb96fb64.jpg' /></a>
</div>  -->