<style>
    .language-dropdown {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .language-dropdown:hover .dropdown-menu {
        display: block;
    }

    .language-dropdown:hover .dropdown-menu li {
        border: none !important;
        padding-top: 8px;
    }
</style>

<li> <a href="/">Home</a></li>
<li> <a href=" /archive/">Archives</a></li>
<li> <a href="/about/">About</a></li>
<li> <a href="https://github.com/Number142857" target="_blank">Github</a></li>
