<section id="projects">
  <span class="h1"><a href="http://github.com/Fantasy9527" 
                      rel="external nofollow noopener noreferrer" target="_blank">Projects</a></span>
  <ul class="project-list">
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/lotus-scaffold-micro-frontend-portal" 
           rel="external nofollow noopener noreferrer" target="_blank">微前端 Protal</a>: 微前端模块加载器示例代码
      </li>
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/microfrontend-base-demo" 
           rel="external nofollow noopener noreferrer" target="_blank">微前端Base module</a>: 微前端Base基础模块的示例代码
      </li>
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/microfrontend-submodule-demo" 
           rel="external nofollow noopener noreferrer" target="_blank">微前端Submodule</a>: 微前端Submodule子模块示例代码
      </li>
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/AliToSign" 
           rel="external nofollow noopener noreferrer" target="_blank">AliToSign</a>: 基于nodejs的阿里云API签名生成工具
      </li>

      <li class="project-item">
        <a href="https://github.com/Fantasy9527/AliToSign" 
           rel="external nofollow noopener noreferrer" target="_blank">StillFantasy</a>: 歌词自动下载工具
      </li>
    
  </ul>
</section>