<section id="projects">
  <span class="h1"><a href="http://github.com/Fantasy9527" rel="external nofollow noopener noreferrer" target="_blank">Projects</a></span>
  <ul class="project-list">
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/microfrontend-base-demo" rel="external nofollow noopener noreferrer" target="_blank">微前端Base module</a>: 微前端Base基础模块的示例代码
      </li>
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/microfrontend-submodule-demo" rel="external nofollow noopener noreferrer" target="_blank">微前端Submodule</a>: 微前端Submodule子模块示例代码
      </li>
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/AliToSign" rel="external nofollow noopener noreferrer" target="_blank">AliToSign</a>: 基于nodejs的阿里云API签名生成工具
      </li>
    
      <li class="project-item">
        <a href="https://github.com/Fantasy9527/webhook-builder" rel="external nofollow noopener noreferrer" target="_blank">Webhook-builder</a>: webhook自动化部署
      </li>
    
      <li class="project-item">
        <a href="https://fantasy9527.github.io/lotusjs-cli/" rel="external nofollow noopener noreferrer" target="_blank">Lotusjs-cli</a>: 交互式前端通用脚手架管理工具
      </li>
    
  </ul>
</section>