<section id="projects">
  <span class="h1"
    ><a
      href="http://github.com/Num142857"
      rel="external nofollow noopener noreferrer"
      target="_blank"
      >Projects</a
    ></span
  >
  <ul class="project-list">
    <li class="project-item">
      <a
        href="https://alili.tech/tags/%E6%95%B0%E5%AD%A6/"
        rel="external nofollow noopener noreferrer"
        >程序猿数学基础</a
      >: 程序员的数学基础课学习笔记
    </li>
    <li class="project-item">
      <a
        href="https://alili.tech/tags/microfrontend/"
        rel="external nofollow noopener noreferrer"
        >微前端系列文章</a
      >: 讲述我的微前端的落地历程
    </li>

    <li class="project-item">
      <a
        href="https://alili.tech/tags/%E8%B7%A8%E7%AB%AF%E5%BC%80%E5%8F%91/"
        rel="external nofollow noopener noreferrer"
        >跨端开发系列文章</a
      >: 我们是如何一套代码跑8个端的实践心得
    </li>

    <li class="project-item">
      <a
        href="https://github.com/Num142857/AliToSign"
        rel="external nofollow noopener noreferrer"
        target="_blank"
        >AliToSign</a
      >: 基于nodejs的阿里云API签名生成工具
    </li>

    <li class="project-item">
      <a
        href="https://github.com/Num142857/StillFantasy"
        rel="external nofollow noopener noreferrer"
        target="_blank"
        >StillFantasy</a
      >: 歌词自动下载工具
    </li>
  </ul>
</section>
