<ul>
        <li><a class="icon" href="http://v.t.sina.com.cn/share/share.php?u={{.Permalink}}&text={{.Title}}"><i class="fa fa-weibo " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="http://www.facebook.com/sharer.php?u={{.Permalink}}"><i class="fa fa-facebook " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="https://twitter.com/share?url={{.Permalink}}&text={{.Title}}"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="http://www.linkedin.com/shareArticle?url={{.Permalink}}&title={{.Title}}"><i class="fa fa-linkedin " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{.Permalink}}&is_video=false&description={{.Title}}"><i class="fa fa-pinterest " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="mailto:?subject={{.Title}}&body=Check out this article: {{.Permalink}}"><i class="fa fa-envelope " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="https://getpocket.com/save?url={{.Permalink}}&title={{.Title}}"><i class="fa fa-get-pocket " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="http://reddit.com/submit?url={{.Permalink}}&title={{.Title}}"><i class="fa fa-reddit " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="http://www.stumbleupon.com/submit?url={{.Permalink}}&title={{.Title}}"><i class="fa fa-stumbleupon " aria-hidden="true"></i></a></li>
        <li><a class="icon" href="http://digg.com/submit?url={{.Permalink}}&title={{.Title}}"><i class="fa fa-digg " aria-hidden="true"></i></a></li>
 </ul>
      